<h1>Todo App</h1>

<br/>
<br/>

<form (onsubmit)="this.onsubmit">
    <label for="name">
        <legend>Task name</legend>
        <input type="text" name="name" id="name" [value]="this.editTask()?.name ?? ''" />
    </label>
    <button type="submit">
        @if (!!this.editTask()) { Update } @else { Add }
    </button>
    <button type="reset" (onclick)="this.oncancel">
        Cancel
    </button>
</form>

<br/>
<br/>

<table>
    <thead>
        <tr>
            <th>#ID</th>
            <th>Name</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for (task of this.tasks()) track (task().id) {
            <tr>
                <td>{{task().id.slice(0, 8)}}</td>
                <td>{{task().name}}</td>
                <td>{{task().done ? "Done" : "Pending"}}</td>
                <td>
                    <button type="button" [value]="task().id" (onclick)="this.ontoggle">
                        {{task().done ? "Restart" : "Complete"}}
                    </button>
                    <button type="button" [value]="task().id" (onclick)="this.onedit">Edit</button>
                    <button type="button" [value]="task().id" (onclick)="this.onremove">Remove</button>
                </td>
            </tr>
        }
    </tbody>
</table>