<app-layout>
  <app-todo-form
    [value]="this.editTask()"
    (onsubmit)="(this.onsubmit)"
    (oncancel)="(this.oncancel)"
  />

  <br />
  <br />

  <table>
    <thead>
      <tr>
        <th>#ID</th>
        <th>Name</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @for (task of this.tasks(); track task().id) {
        <tr>
          <td>{{ task().id.slice(0, 8) }}</td>
          <td>{{ task().name }}</td>
          <td>{{ task().done ? "Done" : "Pending" }}</td>
          <td>
            <button
              type="button"
              [value]="task().id"
              (onclick)="(this.ontoggle)"
            >
              {{ task().done ? "Restart" : "Complete" }}
            </button>
            <button type="button" [value]="task().id" (onclick)="(this.onedit)">
              Edit
            </button>
            <button
              type="button"
              [value]="task().id"
              [disabled]="task().id === this.editTask()?.id"
              (onclick)="(this.onremove)"
            >
              Remove
            </button>
          </td>
        </tr>
      } @empty {
        <tr class="empty">
          <td colspan="4">No task found</td>
        </tr>
      }
    </tbody>
    <tfoot>
      <tr>
        <td colspan="4" [class.empty-test]="this.tasks().length === 0">
          Task count: {{ this.tasks().length }}
        </td>
      </tr>
    </tfoot>
  </table>
</app-layout>
