:root {
  --background: #242424;
  --text-surface: #ffffff;
  --focus: #ffffff;

  --button-bg: #d0d0d0;
  --button-bg-i: #ffffff;
  --button-fg: #242424;

  --table-bg: transparent;
  --table-fg: #ffffff;

  --input-bg: #ffffff10;
  --input-bg-i: #ffffff20;
  --input-fg: #ffffff;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #ffffff;
    --text-surface: #242424;
    --focus: #242424;

    --button-bg: #242424;
    --button-bg-i: #4a4a4a;
    --button-fg: #ffffff;

    --table-bg: transparent;
    --table-fg: #242424a0;

    --input-bg: #00000010;
    --input-bg-i: transparent;
    --input-fg: #242424;
  }
}

:root {
  color: var(--text-surface);
  background-color: var(--background);
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

input {
  color: var(--input-fg);
  padding: 0.5rem;
  background-color: var(--input-bg);
  border-radius: 0.25rem;
  border: 1px solid var(--input-fg);
  height: 2.5rem;
}

input:focus {
  background-color: var(--input-bg-i);
}

table {
  th,
  td {
    padding: 0.5rem;
  }
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

button {
  height: 2.5rem;
  padding: 0.5rem;
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--button-bg);
  color: var(--button-fg);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:hover {
  background-color: var(--button-bg-i);
}

input:focus,
input:focus-visible,
input:focus-within,
button:focus,
button:focus-visible,
button:focus-within {
  outline: 2px solid var(--focus);
  outline-offset: 1px;
}
